

.card{
    background-color: rgba(210, 207, 207, 0.9);
   
}

.img-container , .placeholderImg{
    height: 300px;
    width: 250px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-body{
    border:2px solid rgb(173, 171, 171) ;
}
.isAvailable{
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 800;
   color: red;
}
.notAvailable{
    filter : blur(1px) grayscale(4)
}
.list-group-item{
    background-color: transparent;
}
.col-sm-12{
    text-align: center;
}
 .adaddToCart{
   justify-content: space-evenly;
}